.left{
    width: 50%;
    float: left;
    margin-right: 1%;


}
.right{
    width: 40%;
    float: right;
    margin-left: 9%;
}
h2{
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.left > p,
.right > p{
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    color: #CDCCD2;
    margin-bottom: 30px;
}
.left > p > a,
.right > p > a{
    color: red;
    text-decoration: none;

}