.hero{
    padding-bottom: 10px;
    background-color: #03A9F5;
    background-image: url(/img/MainImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    text-align: center;
    min-height: 100vh;
}

.hero .row{
    width: 600px;
    margin: 0 calc(50% - 300px);
}


.hero img{
    margin-bottom: 40px;

}
.hero h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 55px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    
}
.hero p{
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    color: #B8B7C9;

}
.hero .clock{
    font-weight: normal;
    width: 100%;
    margin: 30px 0;
    color: white;
}


    .hero .clock > .time{
        box-sizing: border-box;
        width: 25%;
        float: left;
        

    }
        .clock > .time > .value{
            width: 100%;
            font-size: 80px;
            line-height: 80px;

        }

        .clock > .time > .label{
            width: 100%;
            font-size:20px;
            line-height: 20px;

        }




.hero .form{
    margin-bottom: 20px;
    width: 90%;

}
.hero .form > input{
    background-color: transparent;
    color: white;
    border-bottom: 1px solid white;
    outline: none;
}
.hero .form > input::placeholder{
    color: white;
   
}

.hero .mouse{
    width: 160px;
    height: 260px;
    background-color: transparent;
    margin-bottom:  0;
    border: 15px solid white;
    border-radius: 80px;
}

.hero .mouse .wheel{
    width: 60px;
    height: 60px;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    animation: mouse 2s ease-out 0s infinite normal forwards;
    background-image: url(/img/pele.png);
    background-size: contain;
    background-repeat: no-repeat;
}
        .hero .mouse .wheel:hover {
            animation-play-state: paused;
        }
@keyframes mouse {
    0%{
        margin-top: 30px;
        opacity: 1;
        transform: rotate(0deg);
    }
    60%{
        opacity: 1;
    }
    100% {
        margin-top: 120px;
        opacity: 0;
        transform: rotate(360deg);
    }
}

@media (max-width: 700px) {
    .hero .row{ 
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}
/* toliau eina laikrodzio formatavimas prie mazesaniu ekranu*/
@media (max-width: 550px) {
    .hero .clock > .time{
        width: 50%;
    }
        .hero .clock > .time:nth-child(1),
        .hero .clock > .time:nth-child(2){
            margin: 0 0 30px 0;

        }   

    }