.hero{
    padding-bottom: 30px;
    background-color: #03A9F5;
    background-image: url(/img/MainImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    text-align: center;
    height: 100vh;
}

.hero .row{
    width: 600px;
    margin: 0 calc(50% - 300px);
}


.hero img{
    margin-bottom: 40px;

}
.hero h1{
    text-transform: uppercase;
    font-size: 50px;
    line-height: 55px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    
}
.hero p{
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    color: #B8B7C9;

}
.hero .clock{
    font-weight: bold;
    width: 100%;
    /* margin: 30px 0; */
    color: white;
}

.hero .clock > .time:nth-child(1){
    /* margin: 0 10px; */
}
    .hero .clock > .time{
        box-sizing: border-box;
        width: 25%;
        float: left;
        

    }
        .clock > .time > .value{
            width: 100%;
            font-size: 80px;
            line-height: 80px;

        }

        .clock > .time > .label{
            width: 100%;
            font-size:20px;
            line-height: 20px;

        }




.hero .form{
    margin-bottom: 20px;
    width: 90%;

}

.hero .mouse{
    width: 30%;
    margin-bottom:  30px;
}

@media (max-width: 700px) {
    .hero .row{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
}
/* toliau eina laikrodzio formatavimas prie mazesaniu ekranu*/
@media (max-width: 550px) {
    .hero .clock > .time{
        width: 50%;
    }
        .hero .clock > .time:nth-child(1),
        .hero .clock > .time:nth-child(2){
            margin: 0 0 30px 0;

        }   

    }