/*stilius yra iš Desktop į Mobile*/
.container{
    background-color:#fff;
    padding: 40px 0 80px;
    width: 100%;
  
}
.container > .row{
    width: 1000px;
    margin: 0 calc(50% - 500px);
    
    
}
/************** resposive design **********************/
@media (max-width: 1100px) {
    .container > .row{
        width: 700px;
        margin: 0 calc(50% - 350px);
        
}

@media (max-width: 800px) {
    .container > .row{
            width:500px;
            margin: 0 calc(50% - 250px);
            
}
@media (max-width: 600px) {
    .container > .row{
    width: calc(100% - 40px);
    margin: 0 20px;
    }    
/****************************************/
}
